flows_pmgatech.json
[{"id":"34874713.3a82d","type":"tab","label":"DASHBOARD","disabled":false,"info":""},{"id":"8546784c.41fe48","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#00387b","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#f5680a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#f5680a","edited":true},"page-titlebar-backgroundColor":{"value":"#f5680a","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#f89554","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#f5680a","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Gas MONITORING","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":60,"sy":60,"gx":6,"gy":2,"cx":6,"cy":0,"px":0,"py":0}}},{"id":"b2a68507.40d658","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"90cb9f10.1b7d6","type":"ui_spacer","name":"spacer","group":"","order":3,"width":2,"height":1},{"id":"59fc64f7.c8e36c","type":"ui_spacer","name":"spacer","group":"","order":5,"width":3,"height":1},{"id":"2f4fc5cd.c165aa","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"8d8d0df6.efa22","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"46876bc9.455df4","type":"ui_spacer","name":"spacer","group":"","order":12,"width":3,"height":1},{"id":"7fbd6169.ef082","type":"ui_spacer","name":"spacer","group":"","order":13,"width":2,"height":1},{"id":"6789a2bd.ffdf8c","type":"ui_spacer","name":"spacer","group":"","order":18,"width":1,"height":1},{"id":"70e583f.6e2177c","type":"ui_spacer","name":"spacer","group":"","order":20,"width":2,"height":1},{"id":"1ea352fd.2a8d1d","type":"ui_spacer","name":"spacer","group":"","order":21,"width":1,"height":1},{"id":"b758675e.336a28","type":"ui_spacer","name":"spacer","group":"","order":23,"width":1,"height":1},{"id":"d30b3c83.5ed17","type":"s7 endpoint","transport":"iso-on-tcp","address":"10.229.138.15","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"","vartable":[{"addr":"MD480","name":"FLOW"}]},{"id":"340b404b.bcb0c","type":"s7comm","ip":"10.229.138.15","port":"102","rack":"0","slot":"1","payload":[{"S7_Type":"DB","S7_DBnum":"1","S7_Datatype":"X","S7_Offset":"4","S7_BitOffset":"2","S7_Quantity":"1","S7_Name":"Wr/VALVE"},{"S7_Type":"DB","S7_DBnum":"5","S7_Datatype":"R","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"R/FLOW"},{"S7_Type":"DB","S7_DBnum":"1","S7_Datatype":"R","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"R/PRESSURE"},{"S7_Type":"I","S7_DBnum":"0","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"FEU"},{"S7_Type":"Q","S7_DBnum":"0","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"r/valve"}]},{"id":"fdc923f5.34a5f","type":"s7comm","ip":"10.229.138.15","port":"102","rack":"0","slot":"1","payload":[{"S7_Type":"DB","S7_DBnum":"1","S7_Datatype":"X","S7_Offset":"4","S7_BitOffset":"2","S7_Quantity":"1","S7_Name":"Wr/VALVE"},{"S7_Type":"DB","S7_DBnum":"7","S7_Datatype":"R","S7_Offset":"2","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"R/FLOW"},{"S7_Type":"DB","S7_DBnum":"7","S7_Datatype":"R","S7_Offset":"4","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"R/TEMPERATURE"},{"S7_Type":"Q","S7_DBnum":"0","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"re/valve"}]},{"id":"eb02d7d1.270818","type":"twilioConfig","name":"twilioConfig"},{"id":"478ae0f8.cbc58","type":"ui_tab","name":"GLOBAL ALGERIAN TECHNOLOGY","icon":"dashboard_2","disabled":false,"hidden":false},{"id":"5181f718.6780b8","type":"ui_group","name":"home","tab":"478ae0f8.cbc58","order":1,"disp":false,"width":6,"collapse":false},{"id":"c6a861ac.d9157","type":"ui_spacer","z":"34874713.3a82d","name":"spacer","group":"5181f718.6780b8","order":2,"width":2,"height":1},{"id":"6035ed4c.567e94","type":"ui_spacer","z":"34874713.3a82d","name":"spacer","group":"5181f718.6780b8","order":4,"width":2,"height":1},{"id":"c41b0ac5.498fd8","type":"ui_spacer","z":"34874713.3a82d","name":"spacer","group":"5181f718.6780b8","order":8,"width":1,"height":1},{"id":"5bb6b1ff.d451f","type":"ui_spacer","z":"34874713.3a82d","name":"spacer","group":"5181f718.6780b8","order":9,"width":2,"height":1},{"id":"298d0d6d.186612","type":"ui_spacer","z":"34874713.3a82d","name":"spacer","group":"5181f718.6780b8","order":10,"width":2,"height":1},{"id":"1c46b8dd.de33f7","type":"ui_spacer","z":"34874713.3a82d","name":"spacer","group":"5181f718.6780b8","order":18,"width":2,"height":1},{"id":"39abe819.86e2a8","type":"ui_spacer","z":"34874713.3a82d","name":"spacer","group":"5181f718.6780b8","order":21,"width":2,"height":1},{"id":"2d704a12.0ca006","type":"ui_spacer","z":"34874713.3a82d","name":"spacer","group":"5181f718.6780b8","order":22,"width":1,"height":1},{"id":"df9d3596.ad9eb8","type":"ui_spacer","z":"34874713.3a82d","name":"spacer","group":"5181f718.6780b8","order":25,"width":1,"height":1},{"id":"f8968414.fe6f18","type":"ui_spacer","z":"34874713.3a82d","name":"spacer","group":"5181f718.6780b8","order":26,"width":6,"height":1},{"id":"db469eed.399048","type":"function","z":"34874713.3a82d","name":"","func":"msg.payload = \n{\n    \"value\" : [msg.payload]\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":660,"wires":[["5daa8b43.e77504"]]},{"id":"5393148.cc6f46c","type":"inject","z":"34874713.3a82d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1120,"wires":[["3c0e62b0.bb3216"]]},{"id":"4e583fdc.2ad9a8","type":"rbe","z":"34874713.3a82d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":510,"y":1120,"wires":[["7374923c.6632cc"]]},{"id":"7374923c.6632cc","type":"function","z":"34874713.3a82d","name":"","func":"msg.payload = msg.payload.value[0]/1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1120,"wires":[["3b3c94a.5b1c86c","a9a00358.c19d98"]]},{"id":"886780c.e38df","type":"ui_button","z":"34874713.3a82d","name":"","group":"5181f718.6780b8","order":23,"width":2,"height":1,"passthru":false,"label":"OPEN","tooltip":"","color":"","bgcolor":"#3aeb34","icon":"","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":110,"y":640,"wires":[["db469eed.399048"]]},{"id":"9c47d3b6.b95e6","type":"ui_button","z":"34874713.3a82d","name":"","group":"5181f718.6780b8","order":24,"width":2,"height":1,"passthru":false,"label":"CLOSE","tooltip":"","color":"","bgcolor":"#eb4034","icon":"","payload":"false","payloadType":"bool","topic":"","topicType":"str","x":120,"y":680,"wires":[["db469eed.399048"]]},{"id":"3c0e62b0.bb3216","type":"s7comm read","z":"34874713.3a82d","connection":"340b404b.bcb0c","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"5\",\"S7_Datatype\":\"R\",\"S7_Offset\":\"0\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"R/FLOW\"}","s7Name":"R/FLOW","topic":"","name":"","signalSetted":false,"none":"true","repeat":"","once":false,"x":340,"y":1100,"wires":[["4e583fdc.2ad9a8","7d8edb14.06e40c"]]},{"id":"b8f8e08.793242","type":"ui_digital_display","z":"34874713.3a82d","name":"PRESSURE","group":"5181f718.6780b8","order":15,"width":2,"height":1,"digits":"4","decimals":"2","x":710,"y":1420,"wires":[]},{"id":"d9ceec27.715718","type":"s7comm read","z":"34874713.3a82d","connection":"340b404b.bcb0c","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"1\",\"S7_Datatype\":\"R\",\"S7_Offset\":\"0\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"R/PRESSURE\"}","s7Name":"R/PRESSURE","topic":"","name":"","signalSetted":false,"none":"true","repeat":"","once":false,"x":300,"y":1360,"wires":[["e5c9476.60b4238"]]},{"id":"e5c9476.60b4238","type":"rbe","z":"34874713.3a82d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":270,"y":1480,"wires":[["d87829f2.444588"]]},{"id":"d87829f2.444588","type":"function","z":"34874713.3a82d","name":"","func":"msg.payload = msg.payload.value[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1480,"wires":[["b8f8e08.793242","5e819ed.f3f1d6","4f2356b0.87aad8"]]},{"id":"7f8ef18c.44d518","type":"ui_text","z":"34874713.3a82d","group":"5181f718.6780b8","order":13,"width":2,"height":1,"name":"PRESSURE txt","label":"","format":"PRESSURE","layout":"row-center","x":720,"y":1360,"wires":[]},{"id":"9b5300ed.0cd438","type":"inject","z":"34874713.3a82d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1360,"wires":[["d9ceec27.715718"]]},{"id":"4d78c667.0e2bc8","type":"moment","z":"34874713.3a82d","name":"","topic":"","input":"","inputType":"date","inTz":"Africa/Algiers","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD hh:mm:ss","locale":"fr-FR","output":"payload","outputType":"msg","outTz":"Africa/Algiers","x":420,"y":140,"wires":[["dfb41b4f.3ec838","a6cd7bc8.6c538"]]},{"id":"df51f8c7.5502d8","type":"inject","z":"34874713.3a82d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":140,"wires":[["4d78c667.0e2bc8"]]},{"id":"dfb41b4f.3ec838","type":"ui_text","z":"34874713.3a82d","group":"5181f718.6780b8","order":5,"width":2,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":640,"y":140,"wires":[]},{"id":"5e819ed.f3f1d6","type":"function","z":"34874713.3a82d","name":"Trigger Alarm","func":"var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>34 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload<=34 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1780,"wires":[["81980354.9d94c8"]]},{"id":"81980354.9d94c8","type":"function","z":"34874713.3a82d","name":"","func":"var temp=msg.payload;\nmsg.to=\"amine10rma@gmail.com;\";\nmsg.from=\"lamine.m.brahimi@gmail.com\";\n\nvar d =new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"Alarme : Température Elevée\";\n    message=\" La Température est Elevée \\n Température = \";    \n}\nelse\n{\n    msg.topic=\"Alarme : Température Normale\";\n    message=\" La Température est maintenant Normale \\n Température = \"; \n   \n} \nmsg.payload=\"Temp:\"+d+\"\\n\"+message+msg.payload+\" c°\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1780,"wires":[["f227b999.0fdac"]]},{"id":"cf37ab62.5b087","type":"inject","z":"34874713.3a82d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"35","payloadType":"num","x":210,"y":1780,"wires":[["5e819ed.f3f1d6"]]},{"id":"7dce7718.ba0298","type":"inject","z":"34874713.3a82d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"num","x":230,"y":1700,"wires":[["5e819ed.f3f1d6"]]},{"id":"f227b999.0fdac","type":"e-mail","z":"34874713.3a82d","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":750,"y":1780,"wires":[]},{"id":"4f2356b0.87aad8","type":"ui_gauge","z":"34874713.3a82d","name":"gauge PRESSURE","group":"5181f718.6780b8","order":17,"width":2,"height":1,"gtype":"gage","title":"","label":"BAR","format":"{{value|number:2}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":1480,"wires":[]},{"id":"5332fad8.cf721c","type":"sms","z":"34874713.3a82d","name":"sms","message":"","numbers":"+2130770002075","throttle":1000,"twilio":"eb02d7d1.270818","x":750,"y":1840,"wires":[[]]},{"id":"a6cd7bc8.6c538","type":"debug","z":"34874713.3a82d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"7296c8a6.3df9a","type":"function","z":"34874713.3a82d","name":"Trigger Alarm","func":"var payload=msg.payload;\nvar alarm_flag=context.get(\"alarm_flag\");\nif(typeof alarm_flag==\"undefined\")\nalarm_flag=false;\n\nif (payload>35 && !alarm_flag)\n{\n    alarm_flag=true;\n    msg.alarm=1;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\nif (payload<=35 && alarm_flag)\n{\n    alarm_flag=false;\n    msg.alarm=0;\n    context.set(\"alarm_flag\",alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1920,"wires":[["d09f41d7.ffce88"]]},{"id":"d09f41d7.ffce88","type":"function","z":"34874713.3a82d","name":"","func":"var temp=msg.payload;\nmsg.to=\"amine10rma@gmail.com\";\nmsg.from=\"lamine.m.brahimi@gmail.com\";\n\nvar d =new Date();\nvar message=\"\";\nif(msg.alarm)\n{\n    msg.topic=\"Alarme : Température Elevée\";\n    message=\" La Température est Elevée \\n Température = \";    \n}\nelse\n{\n    msg.topic=\"Alarme : Température Normale\";\n    message=\" La Température est maintenant Normale \\n Température = \"; \n   \n} \nmsg.payload=\"Temp:\"+d+\"\\n\"+message+msg.payload+\" c°\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1920,"wires":[["5332fad8.cf721c"]]},{"id":"ba13c64.ce67938","type":"inject","z":"34874713.3a82d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"35","payloadType":"num","x":190,"y":1920,"wires":[["7296c8a6.3df9a"]]},{"id":"4575c122.39d038","type":"inject","z":"34874713.3a82d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"num","x":190,"y":1860,"wires":[["7296c8a6.3df9a"]]},{"id":"7d8edb14.06e40c","type":"debug","z":"34874713.3a82d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1200,"wires":[]},{"id":"a60f63b1.72f9b","type":"ui_media","z":"34874713.3a82d","group":"5181f718.6780b8","name":"logo sonatrac","width":2,"height":2,"order":1,"category":"image","file":"Sonatrach-Logo.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":180,"y":40,"wires":[[]]},{"id":"a7229e73.b34828","type":"ui_text","z":"34874713.3a82d","group":"5181f718.6780b8","order":11,"width":2,"height":1,"name":"FLOW txt","label":"","format":"FLOW","layout":"row-center","x":860,"y":1060,"wires":[]},{"id":"c197ada8.8adf","type":"s7comm read","z":"34874713.3a82d","connection":"340b404b.bcb0c","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"1\",\"S7_Datatype\":\"X\",\"S7_Offset\":\"4\",\"S7_BitOffset\":\"2\",\"S7_Quantity\":\"1\",\"S7_Name\":\"Wr/VALVE\"}","s7Name":"Wr/VALVE","topic":"","name":"","signalSetted":false,"none":"true","repeat":"","once":false,"x":340,"y":340,"wires":[["a0fa4e0d.c8a11","cfb9e5fd.d1c408"]]},{"id":"bd519a04.176388","type":"inject","z":"34874713.3a82d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":340,"wires":[["c197ada8.8adf"]]},{"id":"a0fa4e0d.c8a11","type":"debug","z":"34874713.3a82d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":420,"wires":[]},{"id":"cfb9e5fd.d1c408","type":"function","z":"34874713.3a82d","name":"","func":"msg.payload = msg.payload.value[0]\nif(msg.payload == true){\n    msg.enabled = true;\n}else{\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":320,"wires":[["d2be2ee3.38d98","8ffa03c5.c5fb6"]]},{"id":"9d3cfa9f.197af8","type":"ui_media","z":"34874713.3a82d","group":"5181f718.6780b8","name":"flag algeria","width":2,"height":2,"order":3,"category":"image","file":"3Argelia-ald.gif","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":630,"y":40,"wires":[[]]},{"id":"d2be2ee3.38d98","type":"ui_media","z":"34874713.3a82d","group":"5181f718.6780b8","name":"flame","width":2,"height":2,"order":6,"category":"image","file":"fire-65.gif","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":790,"y":360,"wires":[[]]},{"id":"8ffa03c5.c5fb6","type":"ui_led","z":"34874713.3a82d","order":7,"group":"5181f718.6780b8","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"led flame","x":750,"y":440,"wires":[]},{"id":"1e850568.9eb37b","type":"s7comm read","z":"34874713.3a82d","connection":"340b404b.bcb0c","payload":"{\"S7_Type\":\"Q\",\"S7_DBnum\":\"0\",\"S7_Datatype\":\"X\",\"S7_Offset\":\"0\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"r/valve\"}","s7Name":"r/valve","topic":"","name":"","signalSetted":false,"none":"true","repeat":"","once":false,"x":380,"y":800,"wires":[["54626d23.e96bd4","a1811050.5f872"]]},{"id":"dde3bdbb.87983","type":"inject","z":"34874713.3a82d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":800,"wires":[["1e850568.9eb37b"]]},{"id":"54626d23.e96bd4","type":"debug","z":"34874713.3a82d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":940,"wires":[]},{"id":"a1811050.5f872","type":"function","z":"34874713.3a82d","name":"","func":"msg.payload = msg.payload.value[0]\n\nif(msg.payload == true){\n    msg.enabled = true;\n}else{\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":840,"wires":[["e2dcec2e.9cfa1","bdde55fd.4931c8"]]},{"id":"e2dcec2e.9cfa1","type":"ui_media","z":"34874713.3a82d","group":"5181f718.6780b8","name":"valve","width":2,"height":3,"order":12,"category":"image","file":"gifgit (1).gif","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":960,"y":900,"wires":[[]]},{"id":"bdde55fd.4931c8","type":"ui_led","z":"34874713.3a82d","order":20,"group":"5181f718.6780b8","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"led valve","x":920,"y":980,"wires":[]},{"id":"3b3c94a.5b1c86c","type":"ui_gauge","z":"34874713.3a82d","name":"gauge flow","group":"5181f718.6780b8","order":16,"width":2,"height":1,"gtype":"gage","title":"","label":"m3","format":"{{value|number:2}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":1200,"wires":[]},{"id":"14296f75.53c971","type":"ui_text","z":"34874713.3a82d","group":"5181f718.6780b8","order":27,"width":6,"height":1,"name":"txt copyright","label":"","format":"All rights are reserved 2021","layout":"row-center","x":300,"y":2120,"wires":[]},{"id":"66b13a90.27a374","type":"ui_text","z":"34874713.3a82d","group":"5181f718.6780b8","order":19,"width":1,"height":1,"name":"txt valve","label":"","format":"Valve ","layout":"row-center","x":740,"y":980,"wires":[]},{"id":"5daa8b43.e77504","type":"s7comm write","z":"34874713.3a82d","connection":"340b404b.bcb0c","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"1\",\"S7_Datatype\":\"X\",\"S7_Offset\":\"4\",\"S7_BitOffset\":\"2\",\"S7_Quantity\":\"1\",\"S7_Name\":\"Wr/VALVE\"}","s7Name":"Wr/VALVE","topic":"","name":"","signalSetted":false,"x":560,"y":640,"wires":[[]]},{"id":"a9a00358.c19d98","type":"ui_digital_display","z":"34874713.3a82d","name":"FLOW","group":"5181f718.6780b8","order":14,"width":2,"height":1,"digits":"4","decimals":"3","x":850,"y":1100,"wires":[]}]